<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/common.css"/>
  <script src="/js/common.js"></script>
  <script src="/js/ggamji.js"></script>
</head>
<body>

<!--INFO AREA-->
<div class="info">

  <div id="target" class="target">hello world</div>

  <div class="cross">
    <span class="line1"></span>
    <span class="line2"></span>
  </div>

  <div id="counter" class="counter">0</div>

  <div class="btn_group clearfix">
    <div class="btn prev_btn _prevBtn">PREV</div>
    <div class="btn next_btn _nextBtn">NEXT</div>
  </div>

</div>

<!--INPUT AREA-->
<div class="enter">

  <input id="enter_data" type="text"/>

</div>

</body>
</html>
