<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/common.css"/>
  <script src="/js/common.js"></script>
</head>
<body>

<div class="info">
  <div class="target">hello world</div>
  <div class="cross">
    <span class="line1"></span>
    <span class="line2"></span>
  </div>
  <div class="counter">13</div>
</div>

<div class="enter">
  <input type="text"/>
</div>

</body>
</html>
